body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.map-container {
  height: 550px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.float-container {
  border: 3px solid #fff;
  padding: 20px;
}

.float-child {
  width: fit-content;
  height: fit-content;
  float: left;
  padding: 20px;
  min-width: 936px;
  min-height: 600px;
  border: 2px solid rgb(0, 119, 255);
}

.float-center {
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 20px;
  min-width: 936px;
  min-height: 600px;
  border: 2px solid rgb(0, 119, 255);
}

.department-row {
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 20px;
  min-width: 936px;
  min-height: 600px;
}

/* Clear floats after the columns */
.department-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.department-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #2f5edd;
  transition: box-shadow 0.3s;
}

.department-card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.department-column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.location-holder {
  column-count: 2;
}

.img-fluid shadow-4 {
  object-fit: contain;
}
